.searchbox
{
	text-align: center ;
	padding: 1rem ;
	border : 1px solid #E70012 ;
	color : red ;
	background-color:  #FFE5E7 ;
	font-size : 1.2rem ; 
}

button
{
	width : 150px ;
	height: 50px ;
}

.padded
{
	padding: 0.5rem ;
}

input[type='search']:focus
{
	border-color: #E70012 ;
	box-shadow: 0 0 5px rgba(231, 0, 18, 1);
	outline-color: #E70013 ;
}