.mini
{
	border : 2px solid #E70013;
	margin: 1.5em 0 ;
	border-radius: 1rem ;
}

.mini .image
{
	border-radius: 0.8rem ; 
}

.mini h2
{
	background-color: #C70212 ;
	color : white;
	border-top-right-radius: 0.8rem ;
	border-top-left-radius: 0.8rem ;
}
.next a
{
	text-align: right;
	display: inline-block; 
	text-decoration: none;
	color : gainsboro !important;
	background-color: royalblue ;
	padding : 1vh ;
	margin : 1vh 0;
	font-size : 1.5rem ;
	border-radius: 0.4rem ;
	transition: all 0.1s ;
}

.next a:hover
{	transform: scale(1.1) ;
	
}

.heartbeat {
	animation: heartbeat 2.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@media (max-width: 600px) {
  h3
  {
    font-size: 1.2rem ;
  }
  }
