@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Teko');

@font-face
{
	font-family: 'bebas' ;
	font-style: normal ;
	font-weight: normal ;
	src : url('../fonts/BEBAS.woff') format('woff') ;
}

#logo
{
	font-family: 'bebas' ;
	border : 1px solid white ; 
	margin: 0.3em 0.5em 0.5em ;
	padding : 0.2em;
}

#bar
{	overflow: hidden;
  	background-color: #E70013;
  	border-bottom: 2px solid red ;
  	position: fixed; 
  	width: 100% ;
  	top: 0 ;
  	z-index: 14 ;
}

.link
{	font-size: 2rem ;
	text-decoration: none ;
	color : white !important;
	font-family : 'Teko', sans-serif ;
}

.mini-menu
{
	display: flex ;
}

.item:hover
{
	background-color: #C60010 !important;
	transform: scale(1.3);
}

#logo:hover
{
	transform: scale(1.1) ;
}

@media  (max-width: 600px) {
	#logo
	{	
		margin: 0.3em 0em 0.5em 0.5em;
	}

	.ui.secondary.pointing.menu .item
	{
		padding-right: 0.25em ;
		padding-left: 0.25em ;
	}

	.ui.secondary.pointing.menu > div
	{
		/*border: 2px solid white ;*/
		padding-right: 6.1vw ;
		padding-top: 2.9vh ;
		padding-left: 3.7vw ;
	}

	.ui.secondary.pointing.menu>div:hover
	{
		background-color: #C60010 !important;
	}

	.item:hover
	{
		transform: scale(1);
	}
}