@font-face {
font-family: 'ecr';
font-style: normal;
font-weight: normal;
src: local('ethnocentricrg'), url('./fonts/ethnocentricrg.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Rubik');

.bio p
{
  font-size: 2.6rem ;
  font-family: 'Rubik' ;
  line-height: 1.3em ;
}

b
{
  font-weight: 900 ;
}

.img-long img
{	border-radius: 2rem ;
	width: 450px;
	height: 675px ;
	border : 10px solid #E70013 ;
}

.content, .img-long
{
	display: inline-block;
	width : 474px ;
	  
}

.content
{
	border : 10px solid #ffD3D7 ;
}

.heading
{
	font-size : 5rem ;
	color: #8B0000 ;
	font-family: 'ecr';
}

.rule
{
	margin-bottom: 2em ;
}

.load-text
{ margin-top : 1.6em ;
  font-size : 3.5rem ;
}

.loader
{ margin-left: 22vw ;
  text-align: center; 
}

.focus-in-expand {
	animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}

.scale-in-center {
	animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}

.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
