@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
font-family: 'ecr';
font-style: normal;
font-weight: normal;
src: local('ethnocentricrg'), url('../fonts/ethnocentricrg.woff') format('woff');
}

.bio p
{
  font-size: 2rem ;
  font-family: 'Rubik' ;
  line-height: 1.4em ;
}

b
{
  font-weight: 900 ;
}

.img-long-con
{
    display: flex;
    margin-top: 1.5em;
}

.bd-img-con img
{ border-radius: 2rem ;
  border : 10px solid #E70013 ;
  width: 68vw;
  margin: 1.5em 0;
}

.img-long img
{	border-radius: 2rem ;
	width: 450px;
	height: 675px ;
	border : 10px solid #E70013 ;
}

.content, .img-long
{
	display: inline-block;
	width : 474px ;
	  
}

.content
{
	border : 10px solid #ffD3D7 ;
}

.heading
{
	font-size : 5.28vw ;
	color: #8B0000 ;
	font-family: 'ecr';
}

.rule
{
	margin-bottom: 2em ;
}

.load-text
{ margin-top : 1.6em ;
  font-size : 3.5rem ;
}

.loader
{ margin-left: 22vw ;
  text-align: center; 
}

.focus-in-expand {
	animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}

.scale-in-center {
	animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}

.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

.left-title
{
  font-size: 3rem ;
  border-bottom: 1px solid darkred ;
  color: #8b0000 ;
  font-family: 'Teko' ;
  letter-spacing: 0.02em ;
  display: inline-block; 
  padding: 0 1em ;
  transition: all 0.4s ;
}

.title-con
{
  margin: 1em ;
  text-align: left ;
}

.left-title:hover
{
  background-color: #8b0000 ;
  color : rgb(255, 211, 215);
}

.leader-list
{
  display: inline ;
}

.circle-con
{
  display: flex ;
  flex-wrap: wrap ;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media(max-width: 1080px)
{
  .img-long img
  { width: 41.67vw;
    height: 62.5vw ;
  }

  .bio p
  {
    font-size: 2.7vw ;
  }
}


@media (max-width: 600px) {
  .loader
  {   margin-left: 11vh ;
  }

  .title-con
  {
    text-align: center;
  }

  .bio p
  {
    font-size: 1.1rem ;
    line-height: 1.2em ;
  }

  .bio , .rule
  {
    margin-bottom: 1em ;
  }

  .heading
  {
    font-size : 8.5vw ;
  }

  .img-long-con
  {
    display: block;
  }

  .bd-img-con img
  { border-radius: 2rem ;
    border : 6px solid #E70013 ;
    width: 88vw;
    margin: 1.5em 0;
  }

  .img-long img
  { border-radius: 2rem ;
    width: 73vw;
    height: 109vw ;
    border : 6px solid #E70013 ;
  }

  .content, .img-long
  {
    display: inline-block;
    width : 88.5vw ;
  }
}