.panel
{
	margin : 12vh 11.5vw 4vh ;
	background-color: #FFD3D7 ;
	box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.4) ;
	padding: 2em 3em ;
	text-align : center; 
	border-radius: 2rem ;
	min-height : 525px ;
}

.home
{	font-size : 2.5rem !important;
	background-color: #E70013 ;
	color: #FFD3D7;
	border-top-right-radius: 0.8rem ;
	border-top-left-radius: 0.8rem ;
}

h2
{	font-weight: 900 ;
	font-size: 2rem ;
}

@media  (max-width: 600px) {
	
	.panel
	{
		margin: 10vh 0vh 4vh ;
		padding: 4vh 4vw ;
	}	

	h2
	{
		font-size: 7vw;
	}
}