.panel
{
	margin : 4em 11em 2em ;
	background-color: #FFD3D7 ;
	box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.4) ;
	padding: 2em 3em ;
	text-align : center; 
	border-radius: 2rem ;
}

h1
{
	font-size : 2.5rem !important;
	background-color: #E70013 ;
	color: #FFD3D7;
}

h2
{	font-weight: 900 ;
	font-size: 2rem ;
}