@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.cards
{	background-color: #E70013 ;
	display: inline-block;
	border-radius: 0.5rem ;
	padding : 0.6rem ;
	margin : 0.5rem ;
	border-width: 0.25rem;
	box-shadow : 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); 
	text-align: center;
	transition: all 0.1s ;
}

.yes
{
	padding : 0.8rem ;
	color: white ;
}

.cards *
{	/*font-weight: bold;*/
	font-family: 'Ubuntu', cursive;
}

.cards h2
{
	font-size: 1.8em;
}

.cards p
{	font-size: 1.4em ;
}

.cards img
{	height : 200px ;
	width : 200px ;
}

.med
{	color: white; 	}

.med img 
{	height : 268px;
	width : 400px;
}

.cards:hover
{
	transform: scale(1.05) ;
}


@media (max-width: 600px) {
  .cards
 { 	border-radius: 0.5rem ;
	padding : 0.5rem ;
	margin : 0.25rem ;
	border-width: 0.125rem;
	box-shadow : 2px 2px 4px 0px rgba( 0, 0, 0, 0.2 ); 
  }

  .yes
  {	padding: 0.5rem ;
  	margin : 0.15rem ;	
  }

  .cards img 
  {
  	 height : 75px ;
	 width : 75px ;	 
  }

  .med img 
  {	height: 100px;
  	width : 150px;
  }

  .cards h2
  {
	font-size: 0.7em;
  }

  .cards p
 {	font-size: 0.7em ;
 }
}