#l
{
	text-align: left ;
	margin : 1em 0;
	font-weight: 800 ;
	font-size : 2.4rem ;
}

#r
{	
	font-size : 2.3rem ;
	text-align: right; 
	color : #8B0000;
	line-height: 1em ;
}

.up
{
	position: relative;
	bottom : 1.8em ;
}

.litem
{	margin : 0.8em 0;
}