#l
{
	text-align: left ;
	margin : 1em 0;
	font-weight: 800 ;
	font-size : 2.4rem ;
}


#r
{	
	font-size : 2.3rem ;
	text-align: right; 
	color : #8B0000;
	line-height: 1em ;
	font-family: 'Ubuntu', cursive;
}

.up
{
	position: relative;
	bottom : 1.8em ;
}

.litem
{	margin : 0.7em 0;
}

@media (max-width: 600px) {

	#l
	{
		margin : 3.1vw 0;
		font-size : 6.14vw ;
	}
	#r
	{	
		font-size : 5.8vw ;
		line-height: 1em ;
	}
	.up
	{
		bottom : 1.4em ;
	}
	.litem
	{	margin : 0.5em 0;
	}
}