#l
{
	text-align: left ;
	margin : .7em 0;
	font-weight: 800 ;
	font-size : 2.4rem ;
}


#r
{	
	font-size : 2.3rem ;
	text-align: right; 
	margin : .7em 0;
	color : #8B0000;
	font-family: 'Ubuntu', cursive;
}

.litem
{	margin : .2em 0;
	display: flex ;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width: 1080px) {
	#l
	{
		margin : 1.8vw 0;
		font-size: 3.1vw;
	}

	#r
	{
		margin : 1.8vw 0;
		font-size: 2.98vw ; 
	}
}


@media (max-width: 600px) {

	#l
	{
		margin : 3.1vw 0;
		font-size : 6.14vw ;
	}
	#r
	{	
		font-size : 5.8vw ;
		line-height: 1em ;
	}
	.up
	{
		bottom : 1.4em ;
	}
	.litem
	{	margin : 0.5em 0;
	}
}