@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.story-slider-image
{	width: 100% ;	
}

.story-slider-cont
{	position: relative ;
	transition: all 1s ;
	min-height: 45.66vw ;
	background-color: #8B0000 ;
	margin: auto ;
	width: 80% ;
}

.story-slider-btn
{	border: none ;
	box-shadow: none ;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50% ;
	font-size: 1.5rem;
	font-weight: bold ;
	font-family: 'Fredoka One', sans-serif;
	z-index: 2;
	width: auto;
	height: auto;
	cursor: pointer;
	position: absolute;
	top: 45%;
	transition: all 0.1s ;
}

.story-slider-btn:hover	{	
	background-color: rgba(255, 255, 255, 1);
}

.btn-left 	{
	left: 0;
	padding: .4vw .9vw .4vw .7vw;
}

.btn-right	{
	right: 0 ;
	padding: .4vw .7vw .4vw .9vw;
}

.slide-nav
{	justify-content: center;
	display: flex ;
	flex-wrap: wrap;
	margin: 1em auto .5em;
}

.story-slider-dot		{
	width: 7px;
    height: 7px;
    margin: 0 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.story-slider-dot:hover
{	transform: scale(1.7);	
}

.story-con, .page-con
{	font-size: 1.5rem;
	color: white;	
	padding: .7em ;
}

.page-con	{
	display: flex ;
	justify-content: space-between;
}

.story-con {
	text-align: left;
}

.lang-btn {	
	font-size: 1.4rem;
	background-color: white ;
	color: #8B0000 ;
	border: none ;
	border-radius: 1rem ;
	transition: all .2s ;
	margin-right: 2vw ;
}

.lang-btn:hover {
	transform: scale(1.1);
}

@media (max-width: 600px) {

	.story-slider-btn	{	
		top: 30%;
	}

	.story-slider-cont
	{	width: 100% ;		
	}

	.story-con, .page-con
	{	font-size: 1.2rem;
	}

	.lang-btn {	
		font-size: 1rem;
		width: auto;
		height: auto ;
		padding: .3em 1em ;
		border-radius: .5rem ;
	}

	.lang-btn:hover {
		transform: none;
	}
}